build
different_algorithm/build
*~
API/eval.o
API/GA.o
API/KusiakLayoutEvaluator.o
API/tinyxml2.o
API/WindFarmLayoutEvaluator.o
API/WindScenario.o
API/eval.o.dSYM/Contents/Resources/DWARF/eval.o
BlackBox.xcodeproj/project.pbxproj
BlackBox.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BlackBox.xcodeproj/project.xcworkspace/xcuserdata/Eduardo.xcuserdatad/UserInterfaceState.xcuserstate
BlackBox.xcodeproj/project.xcworkspace/xcuserdata/Eduardo.xcuserdatad/WorkspaceSettings.xcsettings
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/BlackBox.xcscheme
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/cmake.xcscheme
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/lol.xcscheme
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/make.xcscheme
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/run.xcscheme
BlackBox.xcodeproj/xcuserdata/Eduardo.xcuserdatad/xcschemes/xcschememanagement.plist
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
